server:
  port: 0
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${random.int}
resilience4j:
  circuitbreaker:
    instances:
      orderShipping:
        slidingWindowSize: 3
        minimumNumberOfCalls: 2
        waitDurationInOpenState: 60s